/*
Theme Name: Academia Child
Theme URI: https://www.odsoluciones.com
Template: Divi
Author: OD
Author URI: https://www.odsoluciones.com
Description: Online course
Tags: responsive-layout,one-column,two-columns,three-columns,four-columns,left-sidebar,right-sidebar,custom-background,custom-colors,featured-images,full-width-template,post-formats,rtl-language-support,theme-options,threaded-comments,translation-ready
Version: 4.4.3.1587127256
Updated: 2020-04-17 08:40:56

*/


//login
.login-module{
    .et_pb_login_form{
        width: 100% !important;
        padding:0 !important;
    }
}

//memberium forms
.memb-login{
    #memb_password_send-1{
        #memb_password_send-1-block1{
            #memb_password_send-1-email-input{
                padding: 12px 15px;
                border-radius: 6px;
                width: 80%;
                margin: auto;
                display: block;
                font-size: 14px;
            }
        }
    }
}

#memb_addupdate_creditcard-1,
#memb_addupdate_creditcard-2{
    label{
        width: 100%;
        display: block;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"]
    {
        width: 100%;
        border-radius: 5px;
        margin-top:5px;
        font-size: 15px;
        padding: 12px 10px;
        margin-bottom: 10px;
        margin-bottom: 10px;
    }
    input[type="submit"]{
        background:none;
        border: 2px solid black;
        border-radius: 3px;
        padding: 12px 10px;
        font-size: 15px;
        color:black;
        width: 100%;

    }
    select{
        width: 100%;
        height: 40px;
        font-size:15px;
        margin-bottom:10px;
    }
    input[type="submit"]{
        background:none;
        border: 2px solid black;
        border-radius: 3px;
        padding: 12px 10px;
        font-size: 15px;
        color:black;
        width: 100%;
    }
}
form[name="change_email_1"]{
    label{
        width: 100%;
        display: block;
        color:black
    }
    input[type="text"],
    input[type="email"]
    {
        width: 100%;
        border-radius: 5px;
        margin-top:5px;
        margin-bottom:10px;
        font-size: 15px;
        padding: 12px 10px;
    }
    .button-primary{
        background:none;
        border: 2px solid white;
        border-radius: 3px;
        padding: 12px 10px;
        font-size: 15px;
        color:white;
        width: 100%;

    }
    input[type="submit"]{
        background:none;
        border: 2px solid black;
        border-radius: 3px;
        padding: 12px 10px;
        font-size: 15px;
        color:black;
        width: 100%;
    }
}
#memb_password_change-1{
    label{
        width: 100%;
        display: block;
        color:black
    }
    input[type="password"]
    {
        width: 100%;
        border-radius: 5px;
        margin-top:5px;
        margin-bottom:10px;
        font-size: 15px;
        padding: 12px 10px;
    }
    .button-primary{
        background:none;
        border: 2px solid white;
        border-radius: 3px;
        padding: 12px 10px;
        font-size: 15px;
        color:white;
        width: 100%;

    }
    input[type="submit"]{
        background:none;
        border: 2px solid black;
        border-radius: 3px;
        padding: 12px 10px;
        font-size: 15px;
        color:black;
        width: 100%;
    }
}